table, tr, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}

td i {
  size: 10rem;
  font-weight: 150%;
}
td .btn-rectangular {
  background-color: blue;
  border: 2rem;
  color: white;
  padding: 20px 52px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 12px;
  position: relative;
}

.vvpat {
  width: auto;
  height: auto;
  margin: 2px auto;
  border: 1.5px solid black;
  border-radius: 2.5px;
  background-color: #fff;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

footer {
  font-size: medium;
}

body {
  background-color: #fffdd0;
  font-family: "Times New Roman", Times, serif;
}